<dl class="ts-description-list">
	<div><dt>Cache updated</dt><dd>{{ LastUpdate|e }} {{ LocalTimeZone|e }}</dd></div>
	<div><dt>Update cycle</dt><dd>{{ LastUpdateElapsed|e }} s</dd></div>
	<div><dt>Routers</dt><dd>{{ RouterCount }}</dd></div>
	<div><dt>Descriptors</dt><dd>{{ DescriptorCount }}</dd></div>
	<div><dt>Page generation</dt><dd>{{ page_generation_time }} s</dd></div>
</dl>
