<table cellspacing="0" cellpadding="0" class="displayTable" width="500px" id="asdTable">
<tr>
<td class="HRN" colspan="2">Application Server Details</td>
</tr>
<tr>
<td class="TRAR"><b>Cache Last Updated (Local Server Time):</b></td>
<td class="TRS">{{ LastUpdate|e }} {{ LocalTimeZone|e }}</td>
</tr>
<tr>
<td class="TRAR"><b>Last Update Cycle Processing Time (Seconds):</b></td>
<td class="TRS">{{ LastUpdateElapsed|e }}</td>
</tr>
<tr>
<td class="TRAR"><b>Number of Routers In Cache:</b></td>
<td class="TRS">{{ RouterCount }}</td>
</tr>
<tr>
<td class="TRAR"><b>Number of Descriptors In Cache:</b></td>
<td class="TRS">{{ DescriptorCount }}</td>
</tr>
<tr>
<td class="TRAR"><b>Approximate Page Generation Time (Seconds):</b></td>
<td class="TRS">{{ page_generation_time }}</td>
</tr>
</table>
