<nav class="ts-pagination{% if pagination_compact|default(false) %} ts-pagination-compact{% endif %}" aria-label="{{ pagination_aria_label|default('Pagination')|e }}">
{% if pagination_show_info|default(true) %}
	<span class="ts-pagination-info">Showing {{ pagination.start_result }} to {{ pagination.end_result }} of {{ pagination.total_results }} results</span>
{% endif %}
	<div class="ts-pagination-pages">
{% if pagination.prev %}
		<a href="{{ pagination.prev|e }}" class="ts-pagination-arrow" title="Previous page" aria-label="Previous page"><i class="ti ti-chevron-left" aria-hidden="true"></i></a>
{% else %}
		<span class="ts-pagination-arrow ts-pagination-disabled"><i class="ti ti-chevron-left" aria-hidden="true"></i></span>
{% endif %}
{% for item in pagination.pages %}
{% if item.page is null %}
		<span class="ts-pagination-ellipsis">...</span>
{% elseif item.current %}
		<span class="ts-pagination-page ts-pagination-current" aria-current="page">{{ item.page }}</span>
{% else %}
		<a href="{{ item.url|e }}" class="ts-pagination-page" title="Page {{ item.page }}">{{ item.page }}</a>
{% endif %}
{% endfor %}
{% if pagination.next %}
		<a href="{{ pagination.next|e }}" class="ts-pagination-arrow" title="Next page" aria-label="Next page"><i class="ti ti-chevron-right" aria-hidden="true"></i></a>
{% else %}
		<span class="ts-pagination-arrow ts-pagination-disabled"><i class="ti ti-chevron-right" aria-hidden="true"></i></span>
{% endif %}
	</div>
</nav>
