{% macro sort_link(base, sr_key, so_key, label, sr_current, so_current, has_arrow) %}
{% set is_sorted = (sr_current == sr_key) %}
{% if is_sorted and so_current == 'Asc' %}
{% set next_so = 'Desc' %}
{% set arrow = 'sortingarrowup.png' %}
{% set alt = '&#9652;' %}
{% else %}
{% set next_so = 'Asc' %}
{% set arrow = 'sortingarrowdown.png' %}
{% set alt = '&#9662;' %}
{% endif %}
<a class="header" href="{{ base }}&amp;SR={{ sr_key|e('url') }}&amp;SO={{ next_so|e('url') }}">
{% if has_arrow %}<img src="img/{{ arrow }}" alt="{{ alt }}" class="sorting"/> {% endif %}{{ label|raw }}</a>
{% endmacro %}

{% set base_url = Self ~ '?RowsPerPage=' ~ rows_per_page ~ '&amp;FAuthority=' ~ FAuthority|default('OFF')|e('url') ~ '&amp;FBadDirectory=' ~ FBadDirectory|default('OFF')|e('url') ~ '&amp;FBadExit=' ~ FBadExit|default('OFF')|e('url') ~ '&amp;FExit=' ~ FExit|default('OFF')|e('url') ~ '&amp;FFast=' ~ FFast|default('OFF')|e('url') ~ '&amp;FGuard=' ~ FGuard|default('OFF')|e('url') ~ '&amp;FHibernating=' ~ FHibernating|default('OFF')|e('url') ~ '&amp;FNamed=' ~ FNamed|default('OFF')|e('url') ~ '&amp;FStable=' ~ FStable|default('OFF')|e('url') ~ '&amp;FRunning=' ~ FRunning|default('OFF')|e('url') ~ '&amp;FValid=' ~ FValid|default('OFF')|e('url') ~ '&amp;FV2Dir=' ~ FV2Dir|default('OFF')|e('url') ~ '&amp;FHSDir=' ~ FHSDir|default('OFF')|e('url') %}
{% if CSInput %}{% set base_url = base_url ~ '&amp;CSField=' ~ CSField|default('Fingerprint')|e('url') ~ '&amp;CSMod=' ~ CSMod|default('Contains')|e('url') ~ '&amp;CSInput=' ~ CSInput|e('url') %}{% endif %}

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="displayTable">
<thead>
<tr>
<td class="{% if sr == 'Name' %}HRS{% else %}HRN{% endif %}">
&nbsp;<a class="header" href="{{ base_url }}&amp;SR=CountryCode&amp;SO={% if sr == 'CountryCode' and so == 'Asc' %}Desc{% else %}Asc{% endif %}"><img src="img/{% if sr == 'CountryCode' and so == 'Asc' %}sortingarrowup{% else %}sortingarrowdown{% endif %}.png" alt="{% if sr == 'CountryCode' and so == 'Asc' %}&#9652;{% else %}&#9662;{% endif %}" class="sorting"/></a>&nbsp;&nbsp;
{{ _self.sort_link(base_url, 'Name', so, 'Router Name', sr, so, true) }}
</td>
{% for col in columns_active %}
{% if col == 'Fingerprint' %}
<td class="{% if sr == 'Fingerprint' %}HRS{% else %}HRN{% endif %}"><a class="header" href="{{ base_url }}&amp;SR=Fingerprint&amp;SO={% if sr == 'Fingerprint' and so == 'Asc' %}Desc{% else %}Asc{% endif %}">Fingerprint</a></td>
{% elseif col == 'Bandwidth' %}
<td class="{% if sr == 'Bandwidth' %}HRS{% else %}HRN{% endif %}">{{ _self.sort_link(base_url, 'Bandwidth', so, 'Bandwidth <span class="TRSM">(KB/s)</span>', sr, so, true) }}</td>
{% elseif col == 'Uptime' %}
<td class="{% if sr == 'Uptime' %}HRS{% else %}HRN{% endif %}">{{ _self.sort_link(base_url, 'Uptime', so, 'Uptime', sr, so, true) }}</td>
{% elseif col == 'LastDescriptorPublished' %}
<td class="{% if sr == 'LastDescriptorPublished' %}HRS{% else %}HRN{% endif %}"><a class="header" href="{{ base_url }}&amp;SR=LastDescriptorPublished&amp;SO={% if sr == 'LastDescriptorPublished' and so == 'Asc' %}Desc{% else %}Asc{% endif %}">Last Descriptor<br/><span class="TRSM">(GMT)</span></a></td>
{% elseif col == 'Hostname' %}
<td class="{% if sr == 'Hostname' %}HRS{% else %}HRN{% endif %}">{{ _self.sort_link(base_url, 'Hostname', so, 'Hostname', sr, so, true) }}</td>
{% elseif col == 'ORPort' %}
<td class="{% if sr == 'ORPort' %}HRS{% else %}HRN{% endif %}">{{ _self.sort_link(base_url, 'ORPort', so, 'ORPort', sr, so, true) }}</td>
{% elseif col == 'DirPort' %}
<td class="{% if sr == 'DirPort' %}HRS{% else %}HRN{% endif %}">{{ _self.sort_link(base_url, 'DirPort', so, 'DirPort', sr, so, true) }}</td>
	{% elseif col == 'Contact' %}
	<td class="{% if sr == 'Contact' %}HRS{% else %}HRN{% endif %}"><a class="header" href="{{ base_url }}&amp;SR=Contact&amp;SO={% if sr == 'Contact' and so == 'Asc' %}Desc{% else %}Asc{% endif %}">Contact</a></td>
	{% elseif col == 'IP' %}
	<td class="{% if sr == 'IP' %}HRS{% else %}HRN{% endif %}">{{ _self.sort_link(base_url, 'IP', so, 'IP Address', sr, so, true) }}</td>
	{% elseif col == 'Platform' %}
	<td class="{% if sr == 'Platform' %}HRS{% else %}HRN{% endif %}"><a class="header" href="{{ base_url }}&amp;SR=Platform&amp;SO={% if sr == 'Platform' and so == 'Asc' %}Desc{% else %}Asc{% endif %}">Platform</a></td>
	{% elseif col == 'Hibernating' %}
	<td class="{% if sr == 'Hibernating' %}HRS{% else %}HRN{% endif %}"><a class="header" href="{{ base_url }}&amp;SR=Hibernating&amp;SO={% if sr == 'Hibernating' and so == 'Asc' %}Desc{% else %}Asc{% endif %}">Hibernating</a></td>
	{% elseif col in ['Authority', 'Exit', 'Fast', 'Guard', 'Named', 'Stable', 'Running', 'Valid', 'V2Dir', 'HSDir'] %}
	{% set sort_key = {
		'Authority': 'FAuthority',
		'Exit': 'FExit',
		'Fast': 'FFast',
		'Guard': 'FGuard',
		'Named': 'FNamed',
		'Stable': 'FStable',
		'Running': 'FRunning',
		'Valid': 'FValid',
		'V2Dir': 'FV2Dir',
		'HSDir': 'FHSDir'
	}[col] %}
	<td class="{% if sr == sort_key %}HRS{% else %}HRN{% endif %}"><a class="header" href="{{ base_url }}&amp;SR={{ sort_key|e('url') }}&amp;SO={% if sr == sort_key and so == 'Asc' %}Desc{% else %}Asc{% endif %}">{{ col }}</a></td>
	{% elseif col == 'BadDir' %}
	{% set fbd = FBadDirectory ?? 'OFF' %}
{% if fbd == '0' and sr == 'FBadDirectory' %}{% set hdr_cls = 'HRFNOS' %}
{% elseif fbd == '0' and sr != 'FBadDirectory' %}{% set hdr_cls = 'HRFNO' %}
{% elseif fbd == '1' and sr == 'FBadDirectory' %}{% set hdr_cls = 'HRFYESS' %}
{% elseif fbd == '1' and sr != 'FBadDirectory' %}{% set hdr_cls = 'HRFYES' %}
{% elseif fbd == 'OFF' and sr == 'FBadDirectory' %}{% set hdr_cls = 'HRS' %}
{% else %}{% set hdr_cls = 'HRN' %}
{% endif %}
<td class="{{ hdr_cls }}"><a class="header" href="{{ base_url }}&amp;SR=FBadDirectory&amp;SO={% if sr == 'FBadDirectory' and so == 'Asc' %}Desc{% else %}Asc{% endif %}">Bad Dir</a></td>
{% elseif col == 'BadExit' %}
{% set fbe = FBadExit ?? 'OFF' %}
{% if fbe == '0' and sr == 'FBadExit' %}{% set hdr_cls = 'HRFNOS' %}
{% elseif fbe == '0' and sr != 'FBadExit' %}{% set hdr_cls = 'HRFNO' %}
{% elseif fbe == '1' and sr == 'FBadExit' %}{% set hdr_cls = 'HRFYESS' %}
{% elseif fbe == '1' and sr != 'FBadExit' %}{% set hdr_cls = 'HRFYES' %}
{% elseif fbe == 'OFF' and sr == 'FBadExit' %}{% set hdr_cls = 'HRS' %}
{% else %}{% set hdr_cls = 'HRN' %}
{% endif %}
<td class="{{ hdr_cls }}"><a class="header" href="{{ base_url }}&amp;SR=FBadExit&amp;SO={% if sr == 'FBadExit' and so == 'Asc' %}Desc{% else %}Asc{% endif %}">Bad Exit</a></td>
{% else %}
<td class="HRN">{{ col }}</td>
{% endif %}
{% endfor %}
</tr>
</thead>
<tbody>
{% for router in routers %}
<tr class="{{ router.row_class }}">
<td class="{{ router.name_class }}"><div class="flags_{{ router.country_code }}" title="{{ router.country_name|e }}"></div>&nbsp;<a href="router_detail.php?FP={{ router.Fingerprint|e }}">{{ router.Name|e }}</a></td>
{% for col in columns_active %}
{% set cell = router.columns[loop.index0] %}
{% if col == 'Hostname' %}
<td class="TDS">
{% if cell.flags|length > 0 or cell.platform is defined %}
<table class="iT"><tr><td class="iT">{{ cell.value|e }}{% if cell.ip is not null %}{% if WHOISPath %} [<a class="who" href="{{ (WHOISPath ~ cell.ip)|e }}">{{ cell.ip|e }}</a>]{% else %} [{{ cell.ip|e }}]{% endif %}{% endif %}</td>
{% for flag in cell.flags %}
<td><div class="status_{{ flag }}" title="{% if flag == 'Fast' %}Fast Server{% elseif flag == 'Disputed' %}Not Listed By All Directory Servers{% elseif flag == 'Exit' %}Exit Server{% elseif flag == 'Dir' %}Directory Server{% elseif flag == 'HSDir' %}HS Directory Server{% elseif flag == 'Guard' %}Guard Server{% elseif flag == 'Stable' %}Stable Server{% elseif flag == 'Authority' %}Authority Server{% endif %}"></div></td>
{% endfor %}
{% if cell.platform is defined %}
<td><div class="os_{{ cell.platform }}" title="{{ cell.platform_title|e }}"></div></td>
{% endif %}
</tr></table>
{% else %}
{{ cell.value|e }}{% if cell.ip is not null %}{% if WHOISPath %} [<a class="who" href="{{ (WHOISPath ~ cell.ip)|e }}">{{ cell.ip|e }}</a>]{% else %} [{{ cell.ip|e }}]{% endif %}{% endif %}
{% endif %}
</td>
{% elseif col == 'Bandwidth' %}
<td class="TDb"><table cellspacing="0" cellpadding="0" class="bwb"><tr title="{{ cell.value|e }} KBs"><td class="{{ cell.bg }}"><div class="fg{{ cell.fg }}" style="width: {{ cell.bar }}px; height: 16px;"></div></td><td>&nbsp;<small>&nbsp;{{ cell.value|e }}</small></td></tr></table></td>
{% elseif col == 'Uptime' %}
<td class="{{ cell.class }}">{% if cell.down is defined and cell.down %}<img src="/img/routerdown.png" alt=" router is down" title="Router is currently down"/>{% else %}<img src="/img/blank.gif" alt=" " width="12px" />{% endif %}{% if cell.days is defined %}{{ cell.days }} d {{ cell.hours }} h{% else %}{{ cell.value|e }}{% endif %}</td>
{% elseif col == 'ORPort' or col == 'DirPort' %}
<td class="{{ cell.class }}">{% if cell.value == 0 %}None{% elseif cell.value == 80 or cell.value == 443 %}<b>{{ cell.value }}</b>{% else %}{{ cell.value }}{% endif %}</td>
	{% elseif col == 'BadDir' or col == 'BadExit' %}
	<td class="F{{ cell.value }}"></td>
	{% elseif col in ['Authority', 'Exit', 'Fast', 'Guard', 'Named', 'Stable', 'Running', 'Valid', 'V2Dir', 'HSDir', 'Hibernating'] %}
	<td class="F{{ cell.value }}"></td>
	{% else %}
	<td class="{{ cell.class|default('TDS') }}">{{ cell.value|e }}</td>
{% endif %}
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
