{% extends "base.html.twig" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="css/sprites.css" />
{% endblock %}

{% block content %}

<div class="dropcontainer">
<div class="dropshadow2">
<div class="innerbox">

<table class="torcheck" cellpadding="0" cellspacing="0">

{% if onion_service|default(false) %}
<tr><td class="tab"><img src="/img/usingtor.png" alt="You are using Tor" /></td><td class="content" style="text-align: center">
<span class="usingTor">You appear to be accessing this server through the Tor network as an Onion service.</span>
</td></tr>
{% elseif PositiveMatch_IP == 1 %}
<tr><td class="tab"><img src="/img/usingtor.png" alt="You are using Tor" /></td><td class="content" style="text-align: center">
<span class="usingTor">It appears that you are using the Tor network</span><br/>Your OR is: {{ RemoteIP|e }}<br/>
{% if Count > 0 %}
{% for i in 1..Count %}
Server name: <a class="tab" href="router_detail.php?FP={{ TorNodeFP[i]|e('url') }}">{{ TorNodeName[i]|e }}</a><br/>
{% if PositiveMatch_ExitPolicy[i] is defined and PositiveMatch_ExitPolicy[i] == 1 %}
<span class="usingTor">This Tor server would allow exiting to this page</span><br />
{% elseif PositiveMatch_ExitPolicy[i] is defined and PositiveMatch_ExitPolicy[i] == 0 %}
<span class="notUsingTor">This Tor server would NOT allow exiting to this page</span><br />
{% endif %}
{% endfor %}
{% endif %}
</td></tr>
{% else %}
<tr><td class="tab">
<img alt="You are not using Tor" src="/img/notusingtor.png"/>
</td><td class="content" style="text-align: center;">
<span class="notUsingTor">You do not appear to be using Tor</span><br/>Your IP Address is: {{ RemoteIP|e }}
</td></tr>
{% endif %}

{% if Hidden_Service_URL and Hidden_Service_URL matches '#^https?://[a-z2-7]{56}\.onion/?#i' %}
<tr>
<td colspan="2" style="border-top: solid 1px black; text-align: center;"><br />
<font color="#3344ee">This site is available as an Onion V3 Service at:</font><br/><a style="text-decoration: underline; color: #3344ee;" href="{{ Hidden_Service_URL|e('html_attr') }}">{{ Hidden_Service_URL|e }}</a><br/><br/>
</td>
</tr>
{% endif %}

</table>

</div></div></div>

<table cellspacing="2" cellpadding="2" class="body">

<tr>
<td>

<a href="#Legend" data-toggle-show="lgnd" class="LegendLink">View the Legend</a>


<div style="margin: 5px 0;">
<form action="{{ Self|e }}" method="get" style="display: inline;">
<input type="hidden" name="SR" value="{{ sr|e }}" />
<input type="hidden" name="SO" value="{{ so|e }}" />
<input type="hidden" name="Page" value="1" />
<input type="hidden" name="FAuthority" value="{{ FAuthority|default('OFF')|e }}" />
<input type="hidden" name="FBadDirectory" value="{{ FBadDirectory|default('OFF')|e }}" />
<input type="hidden" name="FBadExit" value="{{ FBadExit|default('OFF')|e }}" />
<input type="hidden" name="FExit" value="{{ FExit|default('OFF')|e }}" />
<input type="hidden" name="FFast" value="{{ FFast|default('OFF')|e }}" />
<input type="hidden" name="FGuard" value="{{ FGuard|default('OFF')|e }}" />
<input type="hidden" name="FHibernating" value="{{ FHibernating|default('OFF')|e }}" />
<input type="hidden" name="FNamed" value="{{ FNamed|default('OFF')|e }}" />
<input type="hidden" name="FStable" value="{{ FStable|default('OFF')|e }}" />
<input type="hidden" name="FRunning" value="{{ FRunning|default('OFF')|e }}" />
<input type="hidden" name="FValid" value="{{ FValid|default('OFF')|e }}" />
<input type="hidden" name="FV2Dir" value="{{ FV2Dir|default('OFF')|e }}" />
<input type="hidden" name="FHSDir" value="{{ FHSDir|default('OFF')|e }}" />
{% if CSInput %}
<input type="hidden" name="CSField" value="{{ CSField|default('Fingerprint')|e }}" />
<input type="hidden" name="CSMod" value="{{ CSMod|default('Contains')|e }}" />
<input type="hidden" name="CSInput" value="{{ CSInput|e }}" />
{% endif %}
Rows per page:
<select name="RowsPerPage" id="rows-per-page-select">
<option value="25"{% if rows_per_page == 25 %} selected="selected"{% endif %}>25</option>
<option value="50"{% if rows_per_page == 50 %} selected="selected"{% endif %}>50</option>
<option value="100"{% if rows_per_page == 100 %} selected="selected"{% endif %}>100</option>
</select>
<noscript><input type="submit" value="Apply" /></noscript>
</form>
<span style="float: right;">
{% if page > 1 %}<a href="{{ Self|e }}?{{ base_q|raw }}&Page=1">First</a> | <a href="{{ Self|e }}?{{ base_q|raw }}&Page={{ page - 1 }}">Prev</a>{% else %}First | Prev{% endif %}
| Page {{ page }} of {{ total_pages }}
| {% if page < total_pages %}<a href="{{ Self|e }}?{{ base_q|raw }}&Page={{ page + 1 }}">Next</a> | <a href="{{ Self|e }}?{{ base_q|raw }}&Page={{ total_pages }}">Last</a>{% else %}Next | Last{% endif %}
</span>
</div>

{% include '_router_table.html.twig' %}

<div style="margin: 5px 0;">
<span style="float: right;">
{% if page > 1 %}<a href="{{ Self|e }}?{{ base_q|raw }}&Page=1">First</a> | <a href="{{ Self|e }}?{{ base_q|raw }}&Page={{ page - 1 }}">Prev</a>{% else %}First | Prev{% endif %}
| Page {{ page }} of {{ total_pages }}
| {% if page < total_pages %}<a href="{{ Self|e }}?{{ base_q|raw }}&Page={{ page + 1 }}">Next</a> | <a href="{{ Self|e }}?{{ base_q|raw }}&Page={{ total_pages }}">Last</a>{% else %}Next | Last{% endif %}
</span>
</div>

</td>
</tr>

<tr>
<td><br/></td>
</tr>
<tr><td>

<a name="Stats"></a>
<a href="#" data-toggle="anss" class="LegendLink" id="anssTableLink">Aggregate Network Statistic Summary</a>

{% include '_index_stats.html.twig' %}

<br/>

<a name="TorServer"></a>
<a href="#" data-toggle="nsos" class="LegendLink" id="nsosTableLink">Network Status Opinion Source</a>

{% include '_index_opinion_source.html.twig' %}

<br/>

<a name="CustomDisplay" href="column_set.php" class="LegendLink">Custom / Advanced Display Options</a>

<br/>

<a name="CustomQuery"></a>
<a href="#" data-toggle="caqo" class="LegendLink" id="caqoTableLink">Custom / Advanced Query Options</a>

{% include '_index_query_options.html.twig' %}

<br/>

<a name="Legend"></a>

<a href="#" data-toggle="lgnd" class="LegendLink" id="lgndTableLink">Table Legend</a>

{% include '_index_legend.html.twig' %}

<br/>

<a name="AppServer"></a>

<a href="#" data-toggle="asd" class="LegendLink" id="asdTableLink">Application Server Details</a>

<br/>

{% include '_index_appserver.html.twig' %}

</td></tr>
</table>

{% endblock %}
