{% extends "base.html.twig" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="css/sprites.css" />
{% endblock %}

{% block content %}

<div class="dropcontainer">
<div class="dropshadow2">
<div class="innerbox">

<table class="torcheck" cellpadding="0" cellspacing="0">

{% if onion_service|default(false) %}
<tr><td class="tab"><img src="/img/usingtor.png" alt="You are using Tor" /></td><td class="content" style="text-align: center">
<span class="usingTor">You appear to be accessing this server through the Tor network as an Onion service.</span>
</td></tr>
{% elseif PositiveMatch_IP == 1 %}
<tr><td class="tab"><img src="/img/usingtor.png" alt="You are using Tor" /></td><td class="content" style="text-align: center">
<span class='usingTor'>It appears that you are using the Tor network</span><br/>Your OR is: {{ RemoteIP|e }}<br/>
{% if Count > 0 %}
{% for i in 1..Count %}
Server name: <a class='tab' href='router_detail.php?FP={{ TorNodeFP[i]|e }}'>{{ TorNodeName[i]|e }}</a><br/>
{% if PositiveMatch_ExitPolicy[i] == 1 %}
<span class='usingTor'>This Tor server would allow exiting to this page</span><br />
{% elseif PositiveMatch_ExitPolicy[i] == 0 %}
<span class='notUsingTor'>This Tor server would NOT allow exiting to this page</span><br />
{% endif %}
{% endfor %}
{% endif %}
</td></tr>
{% else %}
<tr><td class='tab'>
<img alt='You are not using Tor' src='/img/notusingtor.png'/>
</td><td class='content' style='text-align: center;'>
<span class='notUsingTor'>You do not appear to be using Tor</span><br/>Your IP Address is: {{ RemoteIP|e }}
</td></tr>
{% endif %}

{% if Hidden_Service_URL and Hidden_Service_URL matches '#^https?://[a-z2-7]{56}\.onion/?#i' %}
<tr>
<td colspan='2' style='border-top: solid 1px black; text-align: center;'><br />
<font color='#3344ee'>This site is available as an Onion V3 Service at:</font><br/><a style='text-decoration: underline; color: #3344ee;' href='{{ Hidden_Service_URL|e('html_attr') }}'>{{ Hidden_Service_URL|e }}</a><br/><br/>
</td>
</tr>
{% endif %}

</table>

</div></div></div>

<table cellspacing="2" cellpadding="2" class="body">

<tr>
<td>

<a href="#Legend" data-toggle-show="lgnd" class="LegendLink">View the Legend</a>

{{ router_table_block|raw }}

</td>
</tr>

<tr>
<td><br/></td>
</tr>
<tr><td>

<a name="Stats"></a>
<a href="#" data-toggle="anss" class="LegendLink" id='anssTableLink'>Aggregate Network Statistic Summary</a>

{{ stats_block|raw }}


<br/>

<a name="TorServer"></a>
<a href="#" data-toggle="nsos" class="LegendLink" id='nsosTableLink'>Network Status Opinion Source</a>

{{ nsos_block|raw }}


<br/>

<a name='CustomDisplay' href="column_set.php" class="LegendLink">Custom / Advanced Display Options</a>

<br/>

<a name="CustomQuery"></a>
<a href="#" data-toggle="caqo" class="LegendLink" id='caqoTableLink'>Custom / Advanced Query Options</a>

{{ query_block|raw }}


<br/>

<a name="Legend"></a>

<a href="#" data-toggle="lgnd" class="LegendLink" id='lgndTableLink'>Table Legend</a>

{{ legend_block|raw }}


<br/>

<a name="AppServer"></a>

<a href="#" data-toggle="asd" class="LegendLink" id='asdTableLink'>Application Server Details</a>

<br/>

{{ appserver_block|raw }}


</td></tr>
</table>

{% endblock %}
